@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Allura&family=Caveat&family=Dawning+of+a+New+Day&family=Fuggles&family=Kristi&family=League+Script&family=Mrs+Saint+Delafield&family=Parisienne&family=Pinyon+Script&family=Reenie+Beanie&family=Sacramento&family=Shadows+Into+Light&family=Zeyada&display=swap');

.gf-alex-brush{
    font-family: 'Alex Brush', cursive;
}

.gf-allura{
    font-family: 'Allura', cursive;
}

.gf-caveat{
    font-family: 'Caveat', cursive;
}

.gf-dawning-of-a-new-day{
    font-family: 'Dawning of a New Day', cursive;
}

.gf-fuggles{
    font-family: 'Fuggles', cursive;
}

.gf-kristi{
    font-family: 'Kristi', cursive;
}

.gf-league-script{
    font-family: 'League Script', cursive;
}

.gf-mrs-saint-delafield{
    font-family: 'Mrs Saint Delafield', cursive;
}

.gf-parisienne{
    font-family: 'Parisienne', cursive;
}

.gf-pinyon-script{
    font-family: 'Pinyon Script', cursive;
}

.gf-reenie-beanie{
    font-family: 'Reenie Beanie', cursive;
}

.gf-sacramento{
    font-family: 'Sacramento', cursive;
}

.gf-shadows-into-light{
    font-family: 'Shadows Into Light', cursive;
}

.gf-zeyada{
    font-family: 'Zeyada', cursive;
}
